@font-face {
    font-family: 'Web437 IBM BIOS';
    src: url('Web437_IBM_BIOS.woff2') format('woff2'),
        url('Web437_IBM_BIOS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

