
#projects_window {
	position: absolute;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #343a40;
  top: 90px;
  left: 100px;
  background-color: #0c0c0c;
  width:calc(100% - 600px);
  height: calc(100% - 200px);
  min-width: 250px;
  min-height: 250px;
}

#close_btn {
  position: absolute;
  padding: 4px 12px;
  outline:none;
  top: 0;
  right: 0;
  color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #0c0c0c;
  background-color: #000000;
}

#close_btn:hover {
  color:  #0c0c0c;
  background-color: #FFFFFF;
}

#top_border_projects {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 100%;
  cursor: move;
  background-color: #000000;
}

#top_border_projects p {
	margin: 0;
	font-size: 14px;
	top: 2px;
	left: 5px;
	position: fixed;
	color: #ffffff;
}

#content {
  position: absolute;
  top: 30px;
  left:  4px;
  width: 98%;
  height: 92%;
  background-color: #0c0c0c;
  border-style: solid;
  border-width: 1px;
  border-color: darkgrey;
  overflow-y: scroll;
}

@media (max-width: 600px) {
  #projects_window {
    top: 50px;
    left: 10%;
    width:calc(100% - 200px);
    height: calc(100% - 200px);
    min-width: 300px;
    min-height: 300px;
    cursor:pointer;
    top: 20%;
  }

  #close_btn {
    
  }
}
